@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    </head>
    <body>

        <div id="content"></div>

        @if(play.Play.application().isDev()) {
            <script type="text/javascript" src="http://localhost:9810/compile?id=myPlovrConfig&mode=SIMPLE&pretty-print=true"></script>
        } else {
          <script type="text/javascript" src="@routes.Assets.at("javascripts/compiled.js")"></script>
        }



        @content

    </body>
</html>
